<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Michael Kerrisk</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>BD0C1193AA49F46C9272A1BD7BC54B8E</string>
		<key>cover-image-path</key>
		<string>OEBPS/images/9781593272203.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>1161161BE32455FC39B989C7475322C1</string>
		<key>publisher-unique-id</key>
		<string>9781593272203</string>
		<key>unique-id</key>
		<integer>-6234802494201009766</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>The Linux Programming Interface</string>
	<key>playlistName</key>
	<string>The Linux Programming Interface</string>
	<key>releaseDate</key>
	<string>2010</string>
</dict>
</plist>
