@font-face
{
	font-family: "TradeGothicLTStd";
	src: url(../fonts/TradeGothicLTStd.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "TradeGothicLTStd";
	src: url(../fonts/TradeGothicLTStd-Obl.otf);
	font-style: italic;
	font-weight: normal;
}
@font-face
{
	font-family: "TradeGothicLTStd";
	src: url(../fonts/TradeGothicLTStd-Bold.otf);
	font-style: normal;
	font-weight: bold;
}
@font-face
{
	font-family: "TradeGothicLTStd";
	src: url(../fonts/TradeGothicLTStd-BoldObl.otf);
	font-style: italic;
	font-weight: bold;
}
@font-face
{
	font-family: "JansonTextLTStd";
	src: url(../fonts/JansonTextLTStd-Bold.otf);
	font-style: normal;
	font-weight: bold;
}
@font-face
{
	font-family: "JansonTextLTStd";
	src: url(../fonts/JansonTextLTStd-BoldItalic.otf);
	font-style: italic;
	font-weight: bold;
}
@font-face
{
	font-family: "JansonTextLTStd";
	src: url(../fonts/JansonTextLTStd-Italic.otf);
	font-style: italic;
	font-weight: normal;
}
@font-face
{
	font-family: "JansonTextLTStd";
	src: url(../fonts/JansonTextLTStd-Roman.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "UbuntuMono";
	src: url(../fonts/UbuntuMono-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "UbuntuMono";
	src: url(../fonts/UbuntuMono-Bold.ttf);
	font-style: normal;
	font-weight: bold;
}
@font-face
{
	font-family: "UbuntuMono";
	src: url(../fonts/UbuntuMono-Italic.ttf);
	font-style: italic;
	font-weight: normal;
}
@font-face
{
	font-family: "UbuntuMono";
	src: url(../fonts/UbuntuMono-BoldItalic.ttf);
	font-style: italic;
	font-weight: bold;
}
@font-face
{
	font-family: "ArialUnicodeMS";
	src: url(../fonts/ARIALUNI.ttf);
	font-style: normal;
	font-weight: normal;
}
@page
{
	margin: 1.2em;
}
a
{
	text-decoration: none;
	color: #000000;
}
body
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.h1
{
	font-family: "TradeGothicLTStd";
	font-size: 200%;
	margin-top: 1em;
	margin-bottom: 0.1em;
	text-align: center;
}
.subtitle
{
	font-family: "TradeGothicLTStd";
	font-size: 120%;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: center;
}
.pub1
{
	font-family: "TradeGothicLTStd";
	margin-top: 0.8em;
	margin-bottom: 0.2em;
	text-align: center;
}
.h2
{
	font-family: "TradeGothicLTStd";
	font-size: 160%;
	margin-top: 0.7em;
	margin-bottom: 1em;
	text-align: center;
}
.h2a
{
	font-family: "TradeGothicLTStd";
	font-size: 120%;
	margin-top: 0.5em;
	margin-bottom: 1em;
	text-align: center;
}
.h2b
{
	font-family: "TradeGothicLTStd";
	font-size: 200%;
	margin-top: 0.5em;
	margin-bottom: 1em;
	text-align: left;
}
.h3
{
	font-family: "TradeGothicLTStd";
	font-size: 150%;
	margin-top: 1em;
	margin-bottom: 0.5em;
	margin-left: 1.7em;
	text-indent: -1.7em;
}
.h3a
{
	font-family: "TradeGothicLTStd";
	font-size: 110%;
	margin-top: 0.8em;
	margin-bottom: 0.3em;
	margin-left: 0em;
}
.h3b
{
	font-family: "TradeGothicLTStd";
	font-size: 150%;
	margin-top: 0.8em;
	margin-bottom: 0.3em;
	margin-left: 0em;
	border-top: solid #4A7B39 0.2em;
	padding-top: 0.5em;
}
.h4
{
	font-family: "TradeGothicLTStd";
	font-size: 130%;
	margin-top: 1em;
	margin-bottom: 0.2em;
	margin-left: 2.5em;
	text-indent: -2.5em;
}
.h5
{
	font-family: "TradeGothicLTStd";
	font-size: 110%;
	margin-top: 1.3em;
	margin-bottom: 0.3em;
	margin-left: 0em;
}
.copya
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 2em;
	margin-bottom: 0em;
	text-indent: 0em;
	text-align: justify;
}
.copy
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 0.1em;
	margin-bottom: 0em;
	text-indent: 0em;
	text-align: justify;
}
.copy1
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 1em;
	margin-bottom: 0em;
	text-indent: 0em;
	text-align: justify;
}
.copy1a
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 2em;
	margin-bottom: 0em;
	text-indent: 0em;
	text-align: justify;
}
.copy1b
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 0.5em;
	margin-bottom: 0em;
	text-indent: 0em;
	text-align: justify;
}
.author
{
	font-family: "TradeGothicLTStd";
	font-size: 130%;
	margin-top: 4em;
	margin-bottom: 4em;
	text-align: center;
}
.noindent
{
	font-family: "JansonTextLTStd";
	margin-top: 0.8em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: justify;
}
.noindentt
{
	font-family: "JansonTextLTStd";
	margin-top: 0.8em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: justify;
}
.noindenttb
{
	font-family: "JansonTextLTStd";
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: justify;
}
.noindentt1
{
	font-family: "JansonTextLTStd";
	margin-top: 1.2em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: justify;
}
.noindentb
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.8em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: justify;
}
.noindenta
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: justify;
}
.noindentab
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.8em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: justify;
}
.noindentz
{
	font-family: "JansonTextLTStd";
	font-size: 110%;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: justify;
}
.noindentz1
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: justify;
}
.noindentzt
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 0.8em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: justify;
}
.indent
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-indent: 1.5em;
	text-align: justify;
}
.indentb
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.8em;
	margin-left: 0em;
	text-indent: 1.5em;
	text-align: justify;
}
div.image
{
	margin: 0 auto;
	margin-top: 1.2em;
	margin-bottom: 0.5em;
	padding: 0;
	text-align: left;
	max-width: 99%;
	max-height: 99%;
	clear: both;
}
div.image1
{
	margin: 0 auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0;
	text-align: left;
	max-width: 99%;
	max-height: 99%;
	clear: both;
}
div.imagef
{
	margin: 0 auto;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	padding: 0;
	text-align: left;
	max-width: 99%;
	max-height: 99%;
	clear: both;
}
div.pub
{
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	text-align: center;
}
.toc
{
	font-family: "JansonTextLTStd";
	margin-top: 0.7em;
	margin-bottom: 0.3em;
	text-indent: 0em;
	margin-left: 0em;
}
.tocfm
{
	font-family: "JansonTextLTStd";
	margin-top: 0.7em;
	margin-bottom: 0.2em;
	text-indent: 0em;
	margin-left: 0em;
	text-align: justify;
}
.tocchap
{
	font-family: "JansonTextLTStd";
	margin-top: 1.7em;
	margin-bottom: 0.1em;
	margin-left: 2.5em;
	text-indent: -2.5em;
}
.tocsec
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 2.6em;
	text-indent: -2.6em;
}
.tocsec1
{
	font-family: "JansonTextLTStd";
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 8.2em;
	text-indent: -4.7em;
}
.tocbm
{
	font-family: "JansonTextLTStd";
	font-size: 110%;
	margin-top: 1.7em;
	margin-bottom: 0.2em;
	text-indent: 0em;
	margin-left: 0em;
}
.cover
{
	text-align: center;
}
.figcap
{
	font-family: "TradeGothicLTStd";
	font-size: 90%;
	margin-top: 0.3em;
	margin-bottom: 1em;
	text-align: left;
	page-break-before: avoid;
}
.sidebar
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0em;
	background-color: #ECECEC;
	padding: 0.8em;
	border-radius: 1em;
}
.sidebart
{
	font-family: "TradeGothicLTStd";
	font-size: 200%;
	margin-top: 0.01em;
	margin-bottom: 0.2em;
	text-align: left;
}
.sidebart1
{
	font-family: "TradeGothicLTStd";
	font-size: 120%;
	margin-top: 1.3em;
	margin-bottom: 0.2em;
	text-align: left;
}
.programs
{
	font-family: "UbuntuMono";
	font-size: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2.2em;
}
.programs4
{
	font-family: "UbuntuMono";
	font-size: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 8.5em;
}
.programsbl
{
	font-family: "UbuntuMono";
	font-size: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2.8em;
}
.programsli
{
	font-family: "UbuntuMono";
	font-size: 0.8em;
	margin-top: 0.2em;
	margin-bottom: 1em;
	margin-left: 0.2em;
}
.programsa
{
	font-family: "UbuntuMono";
	font-size: 0.8em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 0.2em;
}
.programsat
{
	font-family: "UbuntuMono";
	font-size: 0.8em;
	margin-top: 0.7em;
	margin-bottom: 0.2em;
	margin-left: 0.2em;
}
.programs1
{
	font-family: "UbuntuMono";
	font-size: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 5.8em;
}
.programs2
{
	font-family: "UbuntuMono";
	font-size: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1.3em;
}
img
{
	max-width: 99%;
	max-height: 99%;
}
.codestrong
{
	font-family: "UbuntuMono";
	font-weight: bold;
}
.codeitalic
{
	font-family: "UbuntuMono";
	font-style: italic;
}
.literal
{
	font-family: "UbuntuMono";
	font-size: 0.8em;
}
.term
{
	font-family: "JansonTextLTStd";
	margin-top: 0.8em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: justify;
}
.termlist
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 3.5em;
	text-indent: 0em;
	text-align: justify;
}
.bull
{
	font-family: "JansonTextLTStd";
	margin-top: 0.3em;
	margin-bottom: 0.2em;
	margin-left: 0.8em;
	text-indent: -0.8em;
}
.bullp
{
	font-family: "JansonTextLTStd";
	margin-top: 0.3em;
	margin-bottom: 0.2em;
	margin-left: 0.8em;
	text-indent: 0em;
}
.dash1
{
	font-family: "JansonTextLTStd";
	margin-top: 0.3em;
	margin-bottom: 0.2em;
	margin-left: 1.6em;
	text-indent: -0.8em;
}
.dash
{
	font-family: "JansonTextLTStd";
	margin-top: 0.3em;
	margin-bottom: 0.2em;
	margin-left: 0.8em;
	text-indent: -0.8em;
}
.tablecap
{
	font-family: "TradeGothicLTStd";
	font-size: 90%;
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: left;
	page-break-before: avoid;
}
.table
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 0em;
}
.tablei
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 0.7em;
}
.tablec
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-align: center;
}
.tabler
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding-right: 0.8em;
	text-align: right;
}
.table_1
{
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-right: solid black 0.1em;
}
.table_1b
{
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-right: solid black 0.1em;
	border-bottom: solid black 0.1em;
}
.table_2b
{
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-bottom: solid black 0.1em;
}
.table_2
{
	padding-left: 0.2em;
	padding-right: 0.2em;
}
.table_3
{
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-right: solid black 0.1em;
}
.table_3a
{
	padding-left: 0.2em;
	padding-right: 0.2em;
}
.table_th
{
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-bottom: solid black 0.1em;
	border-right: solid black 0.1em;
}
.table_th1
{
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-bottom: solid black 0.1em;
}
.boxg
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0em;
	background-color: #4A7B39;
	color: #FFFFFF;
	padding: 0.3em;
}
.noindentc1
{
	font-family: "JansonTextLTStd";
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: center;
}
.big
{
	font-size: 200%;
}
.ent
{
	font-family: "ArialUnicodeMS";
	src: url(../fonts/ARIALUNI.ttf);
}
.middle
{
	vertical-align: middle;
}
.ded
{
	font-family: "JansonTextLTStd";
	margin-top: 7.5em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: center;
}
.bqf
{
	font-family: "JansonTextLTStd";
	margin-top: 1.8em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: justify;
}
.attf
{
	font-family: "JansonTextLTStd";
	margin-top: 0.3em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: justify;
}
.block
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 5.7em;
	margin-right: 0em;
	text-align: justify;
}
.block1
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 4.7em;
	margin-right: 0em;
	text-align: justify;
}
.block2
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 5.8em;
	margin-right: 0em;
	text-align: justify;
}
.block3
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 9.5em;
	margin-right: 0em;
	text-align: justify;
}
.block1a
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 2.8em;
	margin-right: 0em;
	text-align: justify;
}
.block1b
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 4em;
	margin-right: 0em;
	text-align: justify;
}
.order
{
	font-family: "JansonTextLTStd";
	margin-top: 0.4em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-indent: 0em;
}
.orderp
{
	font-family: "JansonTextLTStd";
	margin-top: 0.4em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-indent: 0em;
}
.olista
{
	font-family: "JansonTextLTStd";
	margin-top: 0.4em;
	margin-bottom: 0.2em;
	margin-left: 1em;
	text-indent: -1em;
}
.olista1
{
	font-family: "JansonTextLTStd";
	margin-top: 0.4em;
	margin-bottom: 0.2em;
	margin-left: 5.7em;
	text-indent: -1em;
}
.box
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0em;
	border: solid black 0.1em;
	padding: 0.5em;
}
.box2
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0em;
	border-top: solid black 0.1em;
	border-bottom: solid black 0.1em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
.right
{
	font-family: "JansonTextLTStd";
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	text-align: right;
}
.font1
{
	font-family: "JansonTextLTStd";
	font-style: italic;
}
.examplet
{
	font-family: "TradeGothicLTStd";
	font-size: 90%;
	margin-top: 1em;
	margin-bottom: 0.2em;
	text-align: left;
	page-break-before: avoid;
}
.all
{
	margin-top: 0.2em;
	margin-bottom: 1em;
	margin-left: 0em;
	border: solid black 0.1em;
	border-spacing: 0em;
}
.exer
{
	font-family: "JansonTextLTStd";
	margin-top: 0.8em;
	margin-bottom: 0.2em;
	margin-left: 3.2em;
	text-indent: -3.2em;
}
.exerp
{
	font-family: "JansonTextLTStd";
	margin-top: 0.8em;
	margin-bottom: 0.2em;
	margin-left: 3.2em;
	text-indent: 0em;
}
.exerpi
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 3.2em;
	text-indent: 1.2em;
}
.programs3
{
	font-family: "UbuntuMono";
	font-size: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 15em;
}
.programsf
{
	font-family: "UbuntuMono";
	font-size: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0em;
}
.bull1
{
	font-family: "JansonTextLTStd";
	margin-top: 0.3em;
	margin-bottom: 0.2em;
	margin-left: 4em;
	text-indent: -0.8em;
}
.bib
{
	font-family: "JansonTextLTStd";
	margin-top: 0.8em;
	margin-bottom: 0.2em;
	margin-left: 1.7em;
	text-indent: -1.7em;
	text-align: justify;
}
.bibi
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 0.8em;
	margin-bottom: 0.2em;
	margin-left: 6.3em;
	text-align: justify;
}
.bibii
{
	font-family: "JansonTextLTStd";
	font-size: 90%;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 6.3em;
	text-indent: 1.5em;
	text-align: justify;
}
.indexmain
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 3.5em;
	text-indent: -3.5em;
	text-align: left;
}
.indexsub
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 4em;
	text-indent: -2.4em;
	text-align: left;
}
.indexsub1
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 4.5em;
	text-indent: -1.5em;
	text-align: left;
}
.indexsub2
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 5.5em;
	text-indent: -1.2em;
	text-align: left;
}
.green
{
	color: #4A7B39;
}
.arrow
{
	font-family: "JansonTextLTStd";
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 1.0em;
	text-indent: -1.0em;
	text-align: left;
}
